//////////////////////
/// SEARCH FILTER
//////////////////////

.search-filter-container {
    margin: 50px 0;
    padding: 0 25px;
    display: flex;
    flex-direction: column;


    @media screen and (min-width: 1024px) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    &__search-field {
         input {
             background: transparent;
             border: none;
             border-radius: 3px;
             box-shadow: 0 1px 2px $dark-gray;
             padding: 10px;
             height: 25px;
             margin-bottom: 25px;
             width: 430px;
         }
    }
}

.darkmode {
    .search-filter-container {
        &__search-field {
            input {
                color: $white;
                box-shadow: 0 1px 2px $white;
            }
        }
    }
}